.vscode/
checkpoint-*
adapter_model.safetensors
model_checkpoints
wandb
task1
experiments
tasks/temp
__pycache__
*_results_*
wandb
slurm-*.out
results_*

tasks/adaptive_rank_allocation/memory/90_percent_memory_experiment
